{% extends "base.html" %}
{% load static %}

{% block title %}О проекте Генпланы России{{ title }}{% endblock %}

{% block head %}
    <meta name="description" content="О проекте генеральные планы российских городов. Описание проекта. Сбор пожертвований. Исходный код проекта." />
{% endblock %}

{% block content %}

<div class="container">
    <h1>О проекте</h1>
    <p>
        На сайте опубликованы карты генеральных планов российских городов.
    </p>
    <p>
        Изучать планы полезно при покупке земли или недвижимости. Стоит обратить внимание, где проходят новые дороги, поскольку в России земельный участок может быть изъят под постройку дороги и развитие территории.
    </p>
    <p>
        Проект возник, чтобы облегчить просмотр карт, поскольку обычно генпланы публикуются в виде очень больших
        изображений, которые нельзя просто так открыть на телефоне или компьютере.
    </p>
    <h2>Помощь проекту</h2>
    <p>
        Проект развивается на добровольных началах. Если вы хотите помочь, то можете сделать следующее:
    </p>
    <ul>
        <li>Принять участие в разработке. Проект является открытым (<a href="https://github.com/bravikov/genplan-maps">Github</a>).</li>
        <li>Сообщить о проблеме с сайтом. </li>
        <li>Прислать ссылку на генплан, который нужно опубликовать.</li>
        <li>Помочь деньгами. На оплату домена и хранилища данных тратится 1500 рублей в год.
        </li>
    </ul>
    <p>
        {{ donate | safe }}
    </p>

    <h2>Контакты</h2>
    <p><a href="https://t.me/+bnY9bKQ_6VZjNDRi">Телеграм</a></p>
    <p><a href="mailto:dmitry@bravikov.ru">Почта</a></p>

</div>
{% endblock %}
