{% extends "base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Генпланы России</a>
        </div>
    </nav>

    <h1>О проекте</h1>
    <p>
        На сайте опубликованы карты генеральных планов городов.
    </p>
    <p>
        Изучать планы полезно при покупке земли или недвижимости. В России землю можно изъять у собственника
        под постройку дороги.
    </p>
    <p>
        Проект возник, чтобы облегчить просмотр карт, потому что администрации публикуют генпланы в виде очень больших
        изображений, которые нельзя просто так открыть на телефоне или компьютере.
    </p>
    <h2>Помощь проекту</h2>
    <p>
        Принять участие в разработке.
    </p>
    <p>
        Распространить информацию об этом сайте.
    </p>
    <p>
        Писать о проблемах с сайтом.
    </p>
    <p>
        Присылать ссылки на генплаты, которые нужно опубликовать.
    </p>
    <p>
        Поделиться рублем, для оплаты домена и хостинга.
    </p>

    <h2>Контакты</h2>
    <p><a href="https://t.me/+bnY9bKQ_6VZjNDRi">Телеграм</a></p>
    <p><a href="mailto:genplan@bravikov.pro">Почта</a></p>

</div>
{% endblock %}
