{% extends "base.html" %}
{% load static %}

{% block title %}{% endblock %}

{% block head %}
    <script src="{{ maps_storage }}/genplan-maps/{{ map_path }}/tiles/info.js"></script>
    <script>
        const mapTitle = "{{ map_title }}";
        const mapPath = "{{ maps_storage }}/genplan-maps/{{ map_path }}";
    </script>

    <link rel="stylesheet" href={% static 'engine/style.css' %}>
    <script src={% static 'engine/engine.js' %}></script>
{% endblock %}

{% block content %}
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Генпланы России</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/about">О проекте</a>
                </li>
              </ul>
            </div>
        </div>
    </nav>
{% endblock %}
