{% extends "base.html" %}
{% load static %}

{% block title %}{% endblock %}

{% block head %}
    <script src="https://storage.yandexcloud.net/genplan-maps/{{ city }}/tiles/info.js"></script>
    <script src="https://storage.yandexcloud.net/genplan-maps/{{ city }}/info.js"></script>
    <script>const mapPath = "https://storage.yandexcloud.net/genplan-maps/{{ city }}";</script>

    <link rel="stylesheet" href={% static 'engine/style.css' %}>
    <script src={% static 'engine/engine.js' %}></script>
{% endblock %}

{% block content %}

{% endblock %}
