{% extends "base.html" %}
{% load static %}

{% block title %}Генпланы России{% endblock %}

{% block head %}
    <meta name="description" content="Генеральные планы российских городов. Карты городов. Карты дорог и зон. Удобный просмотр карт." />
{% endblock %}

{% block content %}

<div class="container">
    <h1 class="display-1">Генпланы России</h1>

    <h3>Карты городов</h3>

    <div class="list-group">
        {% for city in cities %}
            <a class="list-group-item list-group-item-action" data-bs-toggle="collapse" href="#collapse{{ city.id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                <h4>{{ city.name }}</h4>
            </a>
            <div class="collapse" id="collapse{{ city.id }}">
                <strong><a class="list-group-item list-group-item-action" href={{ city.link }}>Генплан</a></strong>
                <div class="list-group">
                    {% for map in city.maps %}
                        <a class="list-group-item list-group-item-action" href={{ map.link }}>{{ map.name }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
